---
//@ts-nocheck

import FordeleTekstLI from "../FordeleTekstLI.astro";
import PointSaldo from "../PointSaldo.astro";
import AppPromo from "../AppPromo.astro";
import FordelsKategori from "../FordelsKategori.astro";

import MiniNavbar from "../MiniNavbar.astro";
import KontaktBank from "../KontaktBank.astro";
import Layout from "../Layout.astro";
import FordelsGrid from "../FordelsGrid.astro";
---






  <main>

    <MiniNavbar active="fordele" />
<FordeleTekstLI />

    <FordelsGrid />
    <AppPromo />
  
  </main>






<style>
  .fordele-top {
    display: grid;
    grid-template-columns: 1fr 130px;
    gap: 24px;
    align-items: center;
    padding: 48px 28px 36px;
    border-bottom: 4px solid #e5e5e5;

  }

  .fordele-kategorier {

  }

  @media (min-width: 768px) {
    .fordele-top {
      grid-template-columns: 1fr 280px;
      gap: 64px;
      padding: 72px 48px 48px;
    }
  }
</style>