---
---

<section class="menu-wrapper">

  <div class="menu-card">

    <div class="language-box">
      <img class="flag" src="/images/flag.png" alt="">
      <span>Dansk</span>
      <p class="dropdown">⌄</p>
    </div>

    <div class="sections">

      <div class="menu-section">
        <h2>Dankort</h2>

        <a href="#">Om Dankort</a>
        <a href="#">Presse</a>
        <a href="#">Download logoer</a>
        <a href="#">Dankort schemeregler</a>
      </div>

      <div class="menu-section">
        <h2>Support</h2>

        <a id="nielsen" href="#">Kontakt salg</a>
        <a href="#">Kontakt kundeservice</a>
        <a href="#">Support erhverv</a>
        <a href="#">Support privat</a>
      </div>

      <div class="menu-section">
        <h2>Politikker</h2>

        <a href="#">Privatlivspolitikker</a>
        <a href="#">Cookies</a>
        <a href="#">AEE regulativ</a>
      </div>

    </div>

  </div>

  <div class="campaign-card">

    <img src="/images/DankortLogo.webp" alt="Dankort logo" />

    <h1>
      Når vi handler
      <br />
      sammen
    </h1>

  </div>

</section>

<style>

#nielsen{font-weight: regular;}

.menu-wrapper {
   padding: 24px;

  background: #f3f3f3;


}

.menu-card {
  background: #e9e9e9;

  border-radius: 40px;

  padding: 32px;

}

.language-box {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 14px;

  background: white;

  border-radius: 999px;
  padding: 10px 18px;
  margin-bottom: 30px;
  max-height: 50px;
}

.flag {
  width: 42px;
  height: 42px;

  border-radius: 50%;
}

.language-box span {

  font-weight: bolder;

  color: #243040;
}

.dropdown {


  margin-top: 12px;

  color: #243040;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-section h2 {
  font-size: 18px;
  font-weight: 800;

  color: #243040;

}

.menu-section a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333;
font-weight: regular; 

}


.menu-section a::before {
  content: "›";

  color: #E31C23;

  font-size: 34px;
  font-weight: bold;

  line-height: 1;
}

.campaign-card {
  background: #E31C23;

  border-radius: 40px;

  padding: 40px 30px;
  display: flex;
  flex-direction: column;
gap: 60px;
  min-height: 200px;
  margin-bottom: 50px;
}

.campaign-card img {
  width: 110px;
}

.campaign-card h1 {
  color: white;

  font-size: 32px;
  line-height: 1.05;

  font-weight: bolder;
}

@media (min-width: 768px) {

    
  .menu-wrapper {
box-sizing: border-box;
  display: grid;
grid-template-columns: 1fr  400px;
  }

  .menu-card {
min-height: 340px;
max-height: 250px;
    padding: 70px;

    margin-bottom: 0;
  }

.sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
  .campaign-card {
  
max-height: 400px;
    padding: 60px 40px;
  }

  .campaign-card img {
    width: 120px;
  }

  .campaign-card h1 {
    font-size: 38px;
  }
}

</style>