---
//@ts-nocheck

import FordelsKort from "./FordelsKort.astro";

const endpoint =
  "https://vpunmzjvsupxbwiryebz.supabase.co/rest/v1/Dankort ung?select=*";

const options = {
  headers: {
    apikey: "sb_publishable_WnI5PsyHSVL9l1VzVgZbIA_-0GB8QJJ",
  },
};


const products = await fetch(endpoint, options).then((res) => res.json());

const kategorier = [...new Set(products.map((item) => item.Kategori))];


---

<section class="wrapper">

  {kategorier.map((kategori) => {

    const filtreret = products.filter(
      (item) => item.Kategori === kategori
    );

    return (

      <section class="kategori">

        <h2>{kategori}</h2>

        <div class="grid">

          {filtreret.map((fordel) => (
            <FordelsKort fordel={fordel} />
          ))}

        </div>

      </section>

    );
  })}

</section>

<style>
.wrapper {

  margin-left: 24px;
}

.kategori {
  margin-bottom: 48px;
}

.kategori h2 {
color: #000;
  margin-bottom: 20px;
}

.grid {
  display: grid;

  grid-auto-flow: column;
  gap: 30px;

grid-auto-columns: max-content;
  overflow-x: auto;
}
@media (min-width: 768px) {
  .wrapper {

  margin-left: 24px;
}

.kategori {
  margin-bottom: 48px;
  margin-left: 24px;
}

.kategori h2 {

  margin-bottom: 20px;
}

.grid {
  display: grid;


  grid-auto-flow: column;
  gap: 20px;

  overflow-x: auto;
}
}
</style>