<section class="hero">

  <div class="hero__container">

    <div class="hero__content">

      <h1 class="hero__title">
        Hver gang du betaler,
        <br />
        <span>gør du en forskel</span>
      </h1>

      <p class="hero__description">
        Med Dankort Øremærket støtter du naturen i Danmark
        — helt automatisk, hver gang du betaler med dit
        Dankort eller Visa/Dankort.
      </p>

      <a href="https://naturfonden.dk/?gad_source=1&gad_campaignid=22207585853&gbraid=0AAAAAC8Dva_KhJa3wCgPia3m6k6crkWIo&gclid=Cj0KCQjwz9_QBhD_ARIsADnSCfA-cGhIXf-zikEqzw5j77VMTrRhbOsKfhd4I91etbzEfwl3MdaKcsUaAks6EALw_wcB" class="hero__link">
        Læs mere om Den Danske Naturfond
      </a>

    </div>

    <div class="hero__image">
      <img
        src="/images/dankortgren.webp"
        alt=""
      />
    </div>

  </div>

</section>


<style>


   h1{

        font-size: 35px;
		    line-height: 1.4;
        margin-bottom: 10px;
    }
h2 {

      font-weight: extra-bold;
      font-size: 12px;
	      line-height: 1.4;

     }
    span{
        color: #E21E27;
		font-weight: bolder;
     }
     p {
        font-weight: regular;
        font-size: 14px;
		    line-height: 1.4;
        margin-top: 0;
        margin-bottom: 20px;
     }
	   a {
        font-weight: bolder;
        font-size: 12px;
     }



     h3{
        font-size: 18px;
        font-weight: extra-bold;
		    line-height: 1.4;
        margin-top: 0;
                margin-bottom: 10px;
	
     }


.hero {

  padding-top: 1.5rem;
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  padding: 0 1.5rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__title {
  margin-top: 60px;
  line-height: 1.1;
}

.hero__title span {
  color: #E21E27;
}

.hero__description {
  line-height: 1.5;
max-width: 500px;
}

.hero__link {
  color: #E21E27;
  text-decoration: none;
  font-weight: 700;
}

.hero__image img {
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
	h1{
			font-size: 40px; 
         margin-top: 0;

		}

  .hero__container {
    grid-template-columns: 1fr 1fr;

  }

  .hero__image img {
    width: 700px;
    height: ;
    width: 100%;
    margin-right: 80px;
  }
.hero__content {
margin-top: 0px;
margin-left: 50px;
  }

  .hero__container {
  gap: 0rem;
}
.hero__title {
  font-size: 52px;
}
  </style>