  <div class="no-card">
    <h2>Har du ikke et Dankort?</h2>
    <p>Kontakt din bank og hør, om du kan få Dankort.</p>
  </div>


  <style>
 .no-card {
    padding: 48px 24px;
    background: white;
      display: flex;
  flex-direction: column;
  justify-content: center;
           text-align: center;
  }

  .no-card h2 {
    color: #ed1c24;

    margin: 0 0 16px;
  
  }

  .no-card p {
    margin: 0;
  }
    @media (min-width: 1024px) {
        .no-card {
    padding: 80px 24px;
  }

  }
  </style>