<section class="info-section">

  <div class="info-box">

    <h2>Om Øremærket</h2>

    <p>
      Med Dankort ung bliver du belønnet for dit brug af dit Dankort,
      de point du optjener kan du bruge på præmier eller deltage i fede konkurrencer.
    </p>

    <a href="/oere">Læs mere om Dankort Øremærket</a>

  </div>

  <div class="info-box">

    <h2>Sådan bruger du dine fordele</h2>

    <p>
      For at få adgang til dine fordele skal du have en profil,
      samt have downloadet Dankort´s app. Du finder alle fordelene
      i Dankort´s app under “Fordele”. Her får du også en beskrivelse
      af, hvordan du bruger de forskellige fordele. Hvis du endnu ikke
      har Dankort appen, kan du hente den i App Store eller Google Play.
    </p>

  </div>

</section>

<style>
.info-section {
  padding: 48px 24px;
}

.info-box {
  margin-bottom: 52px;
}

.info-box h2 {
color: black;
  margin-bottom: 14px;
  line-height: 1.1;
}

.info-box p {

  line-height: 1.6;
  max-width: 700px;
  margin-bottom: 5px;
}

.info-box a {
  color: #ef1722;
  font-weight: bolder;
  text-decoration: none;


}

@media (min-width: 768px) {
  .info-section {
    margin-left: 70px;
  }
}
</style>